[Unit]
Description=fond-faucet

[Service]
ExecStart=/path/to/node /home/fr1t2/zond-faucet/index.js
Restart=always
User=fr1t2
Group=fr1t2
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/fr1t2/zond-faucet

[Install]
WantedBy=multi-user.target
