[Unit]
Description=qrlnode

Before=qrl-walletd.service
Before=qrl-grpc-proxy.service

[Service]
ExecStart=/home/fr1t2/.local/bin/start_qrl
Type=simple
Restart=always
User=fr1t2
Group=fr1t2
RestartSec=60
WorkingDirectory=/home/fr1t2/

[Install]
WantedBy=multi-user.target