{
	"token": "your-token-goes-here",
	"clientId": "your-application-id-goes-here",
	"guildId": "your-server-id-goes-here",
    "allowedChannels": ["1202999243904917534", "1204070767189565440", "1204412384731734106", "1203027668837208145"],
    "allowedGuilds": ["fr1t2_Testing"],
	"faucetAddress": "Faucet public address 0x",
	"faucetAddressPassword": "Password123",
	"faucetTimeout": "",
	"maxDrip": "",
	"zondPubAPI": "",
    "userName": "zond-3",
    "avatarImgLocation": "./discord/zond_3_Circumlunar.jpg",
    "activityString": "developers code",
    "activityType": "Watching",
    "statusUpdate": "online", 
    "apiPort": 7575, 
    "swaggerPort": 4000,
    "enableSwagger": true,
	"knownQrlAddresses": [
		{
			"address": "Q010300284cc14642e9b2978218f70fcf76274d67d82f3cf7d9038d0e3e43bacfe293773f803931",
			"owner": "Faucet"
		}
	],
    "dbConfig": {
            "host": "localhost",
            "user": "max",
            "password": "your_password",
            "database": "your_database_name",
            "rootUser": "root",
            "rootPassword": "root_password"
    }
}
